
<h1>Send Message to <%= @channel.name %> </h1>

<%= form_tag channel_path(@channel.id), method: "post" do %>
  <%= label_tag :message, "Message" %>
  <%= text_field_tag :message %>
  <%= submit_tag "Send Message", class: "Button" %>
<% end %>
